-var location = 2 
-var h1 = "service"
-var test = true
include ./include/_mxin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./include/_link.pug
        title service da lavage hamza
    body 
        include ./include/_heder.pug
        section(class = "service")
            +alks("service")
            .continer 
                +tow("null","lavage extérieur","img/scscs.jpg","Nous comprenons l'importance de garder votre voiture propre et brillante. Par conséquent, nous fournissons un service de lavage de voiture extérieur de la plus haute qualité et le plus sûr. Notre équipe de professionnels bien formés utilise les dernières technologies et les meilleurs produits pour garantir que votre véhicule reçoive les soins qu'il mérite.")
                +tow("rev","lavage interne","img/Nettoyage-Interieur-exterieur-voiture.png","Dans le but de répondre à tous les besoins de nos précieux clients, nous sommes fiers de fournir un service de lavage de voiture interne pour garantir que l'expérience de conduite à l'intérieur de votre voiture soit distinctive et confortable. Notre équipe d'experts nettoie et polit chaque recoin de l'intérieur de votre voiture en utilisant les meilleurs produits et outils. Contactez-nous dès aujourd'hui et laissez votre voiture briller de l'intérieur.")
                +tow("null","lavage moteur","img/nettoyage-huile-moteur.jpg","Parce que la santé et les performances de votre véhicule sont si importantes, nous proposons un service de lavage moteur qui reflète votre engagement à prendre soin de l’ensemble de votre véhicule. Notre équipe de professionnels utilise des produits personnalisés et des techniques sûres pour laver soigneusement le moteur de votre voiture sans endommager les pièces sensibles. Contactez-nous dès aujourd'hui pour un service de lavage de moteur de voiture et assurez-vous que votre voiture reste en excellent état.")
                +tow("rev","lavage complet (lifting)","img/AdobeStock_201253923-scaled.jpeg","Nous comprenons que prendre soin des petits détails joue un rôle important pour garder votre voiture propre et confortable. Pour cette raison, nous proposons un service de lavage de sièges d'auto, de toit et de plancher qui vise à améliorer votre expérience de conduite et à vous détendre pendant vos déplacements. Vous remarquerez une nette différence lorsque vous recevrez votre voiture après notre service, car vos sièges seront propres et confortables, et votre toit et vos planchers auront l'air neufs. Contactez-nous dès aujourd'hui pour réserver et préparer des voyages dans le plus grand confort et luxe.")
        include ./include/_footer.pug